.books-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin: 2rem;
  max-width: 175px;
  border-radius: 5px;
  padding: 0.5rem;
}

.card > * {
  margin-bottom: 0.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1rem;
}

.card-author {
  font-style: italic;
  font-size: 1rem;
}

.card-body {
  font-size: 0.7rem;
}

.card-img img {
  width: 100%;
}
